<div class="col col s12 m6 l4">
  <article class="card-panel hoverable">
    <p><%= provider.name %></p>
      <h1><%= link_to provider.model, provider %></h1>
    <p><%= provider.email %></p>

  </article>
</div>
