<div class="row">
<%= render @consumers %>


</div>
<br />
<span class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><%= link_to "+", new_consumer_path %></i></span>
