// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.loging_header {
color: #ffffff;
font-family: serif;
font-size: 45px;
}

.motto {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 15px;
}
