<%= content_for :body_class do
  "cars"
end %>
<div class="row">
<div class="col col s12 m6 l4">
  <article class="card-panel hoverable">
    <p><%= image_tag car.image, :class => "car-list-style" %></p>
      <h1><%= link_to car.model, car %></h1>
    <p><%= car.description %></p>
  </article>
</div>
</div>
