

<div class="jumbotron homepage-block">
<h2> Thank you for your order </h2>
<h5> See here your reservation </h5>

<h3><%= link_to "Go to home",root_path, :class => "btn btn-primary btn-lg  green darken-1" %></h3>
</div>
